<a href="https://colab.research.google.com/github/MK0794/karunakar_INFO5731_spring2023/blob/main/In_class_exercise_01_01242023_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [10]:
# write your answer here
def stringlength(s):
    count = 0
    for i in s:
        count += 1
    return count

print(stringlength("Welcome to python programming"))

29

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [11]:
# write your answer here
def countnoofcharacters(s):
    count = {}
    for i in s:
        if i in count:
            count[i] += 1
        else:
            count[i] = 1
    return count

print(countnoofcharacters("yahoo.com"))

{'y': 1, 'a': 1, 'h': 1, 'o': 3, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [12]:
# write your answer here
def sumoflist(lst):
    result = 0
    for i in lst:
        result += i
    return result

print(sumoflist([11, 21, 33, 46, 58]))

169

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [15]:
# write your answer here
def replace_character(s):
    first_char = s[0]
    new_str = s[0]
    for i in range(1, len(s)):
        if s[i] == first_char:
            new_str += "$"
        else:
            new_str += s[i]
    return new_str

print(replace_character("represernt"))

rep$ese$nt

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [17]:
# write your answer here
def calculate_S(a, b):
    S = 3.14 * (1 + (a/b))**3
    return S

print(calculate_S(3, 6))

10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [18]:
# write your answer here
def concat_dictionaries(dic1, dic2, dic3):
    result = {}
    for key in dic1:
        result[key] = dic1[key]
    for key in dic2:
        result[key] = dic2[key]
    for key in dic3:
        result[key] = dic3[key]
    return result

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
print(concat_dictionaries(dic1, dic2, dic3))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [19]:
# write your answer here
def check_element_in_tuple(tup, element):
    for i in range(len(tup)):
        if tup[i] == element:
            return True
    return False

my_tuple = (1, 2, 3, 4, 5)
print(check_element_in_tuple(my_tuple, 3))
print(check_element_in_tuple(my_tuple, 6))

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [23]:
# write your answer here
def min_max_Val_set(s):
    min_val = float('inf')
    max_val = float('-inf')
    for val in s:
        if val < min_val:
            min_val = val
        if val > max_val:
            max_val = val
    return min_val, max_val

my_set = {1, 2, 3, 4, 5}
print(min_max_Val_set(my_set))

(1, 5)

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [24]:
# write your answer here
import random
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
group_size = 6
num_groups = len(student_list)//group_size + (len(student_list)%group_size != 0)
groups = [[] for _ in range(num_groups)]

for i, student in enumerate(student_list):
    groups[i%num_groups].append(student)

for i, group in enumerate(groups):
    print("Group {}: {}".format(i+1, group))

Group 1: ['ja0964', 'kg0569', 'jl1252', 'sk1313', 'sm1907', 'aos0040']
Group 2: ['sa1198', 'kg0470', 'sk1386', 'ak0934', 'gn0108', 'ds0814']
Group 3: ['sb1357', 'sg1297', 'ak0956', 'vm0377', 'pr0353', 'av0659']
Group 4: ['vb0218', 'bg0320', 'sk1390', 'nm0618', 'dr0609', 'nv0234']
Group 5: ['sc1229', 'fh0141', 'sk1458', 'sm1640', 'ms1500', 'hy0232']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [27]:
# write your answer here
def find_duplicate(arr):
    d = {}
    for i in arr:
        if i in d:
            return i
        else:
            d[i] = 1
    return -1

arr = [1, 2, 4, 5,3,3, 6, 7, 8, 9]
print(find_duplicate(arr))

3

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [32]:
# write your answer here
import calendar

def sundays_of_particular_year(year):
    sundays = []
    for month in range(1,13):
        c = calendar.monthcalendar(year, month)
        for week in c:
            if week[calendar.SUNDAY]:
                sundays.append((calendar.month_name[month],week[calendar.SUNDAY]))
    return sundays

year = 2016
print(sundays_of_particular_year(year))

[('January', 3), ('January', 10), ('January', 17), ('January', 24), ('January', 31), ('February', 7), ('February', 14), ('February', 21), ('February', 28), ('March', 6), ('March', 13), ('March', 20), ('March', 27), ('April', 3), ('April', 10), ('April', 17), ('April', 24), ('May', 1), ('May', 8), ('May', 15), ('May', 22), ('May', 29), ('June', 5), ('June', 12), ('June', 19), ('June', 26), ('July', 3), ('July', 10), ('July', 17), ('July', 24), ('July', 31), ('August', 7), ('August', 14), ('August', 21), ('August', 28), ('September', 4), ('September', 11), ('September', 18), ('September', 25), ('October', 2), ('October', 9), ('October', 16), ('October', 23), ('October', 30), ('November', 6), ('November', 13), ('November', 20), ('November', 27), ('December', 4), ('December', 11), ('December', 18), ('December', 25)]